// Variables
$white: #fff;
$bg: #e6e7e8;
$red: #ce1920;
$blue: #1e61f9;
$green: #20843e;
$yellow: #ffaa0e;
$nelson: linear-gradient(90deg, rgba(242,112,156,1) 0%, rgba(255,148,114,1) 100%);
$reef: linear-gradient(90deg, rgba(0,210,255,1) 0%, rgba(58,123,213,1) 100%);;
$neon: linear-gradient(90deg, rgba(190,189,236,1) 0%, rgba(178,234,252,1) 20%, rgba(150,246,235,1) 45%, rgba(245,245,230,1) 74%, rgba(255,223,236,1) 100%);

$purple: #6551b3;