// Imports
@import 'components/variables.scss'; 
@import 'components/fonts.scss'; 

// Styling
body {
  line-height: 1.4em;
  font-family: 'Noto Sans JP', sans-serif;
  background: $bg;
  margin: 0;
}

h1 {
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 5px;
  margin: 0 0 -5px 0;
  color: $white;
  font-weight: bold;
}

h2 {
  margin: 0;
  font-family: 'Jacksilver';
  font-size: 120px;
  line-height: 0.8em;
  position: relative;
  top: 0;
}

h4 {
  font-size: 14px;
  line-height: 22px;
  margin: 0;
  color: $white;
  font-weight: 600;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border-radius: 10px;
  width: 360px;
  text-align: center;
  background: $white;
  overflow: hidden;
  &__top {
    background: $red;
    border-radius: 10px 10px 0 0;
    padding: 5px 0;
  }
  &__middle {
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__bottom {
    height: 18px;
    background: $red;
    border-radius: 0 0 10px 10px;
  }
  &__top,
  &__bottom {
    background: $red;
  }
}

.options {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 40px);
  &__left {
    display: flex;
  }
}
.option {
  margin-right: 20px;
  padding: 6px;
  background: darken($bg, 4%);
  border-radius: 6px;
  &__inner {
    height: 32px;
    display: flex;
    align-items: center;
  }
  .label {
    display: block;
    font-size: 13px;
    color: darken($bg, 70%);
    margin-bottom: 1px;
    span {
      font-size: 10px;
      color: blue;
    }
  }
  select,
  input {
    outline: none;
    border: none;
    padding: 6px;
    border-radius: 4px;
    width: 80px;
    box-sizing: border-box;
    background: darken($bg, 10%);
    border: 1px solid darken($bg, 20%);
    height: 30px;
  }
  input {
    width: 120px;
  }
  select {
    width: 140px;
  }
  h4 {
    font-family: Fat Wandals;
    font-size: 20px;
    a {
      color: $purple;
      transition: color .2s ease-in-out;
      &:hover {
        color: darken($purple, 25%);
      }
    }
  }
}

.colors {
  &__inner {
    display: flex;
  }
}

.color {
  background: $red;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  transition: transform .2s ease-in-out;
  border: 1px solid transparent;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    border: 1px solid transparent;
    border-radius: 50%;
  }
  &.active {
    &:before {
      border-color: darken($bg, 30%);
    }
  }
  &:hover {
    transform: translateY(-3px);
  }
  &#color-red {
    background: $red;
  }
  &#color-blue {
    background: $blue;
  }
  &#color-green {
    background: $green;
  }
  &#color-yellow {
    background: $yellow;
  }
  &#color-nelson {
    background: $nelson;
  }
  &#color-reef {
    background: $reef;
  }
  &#color-neon {
    background: $neon;
  }
}