@font-face {
  font-family: "A Dripping Marker";
  src: url("../fonts/a-dripping-marker/a-dripping-marker.woff2") format("woff2"), url("../fonts/a-dripping-marker/a-dripping-marker.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Jacksilver";
  src: url("../fonts/jacksilver/jacksilver.woff2") format("woff2"), url("../fonts/jacksilver/jacksilver.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Street Wars";
  src: url("../fonts/street-wars/street-wars.woff") format("woff"), url("../fonts/street-wars/street-wars.ttf") format("truetype"), url("../fonts/street-wars/street-wars.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Marsneveneksk";
  src: url("../fonts/marsneveneksk/marsneveneksk-clean.woff") format("woff"), url("../fonts/marsneveneksk/marsneveneksk-clean.ttf") format("truetype"), url("../fonts/marsneveneksk/marsneveneksk-clean.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Don Graffiti";
  src: url("../fonts/don-graffiti/don-graffiti.woff") format("woff"), url("../fonts/don-graffiti/don-graffiti.ttf") format("truetype"), url("../fonts/don-graffiti/don-graffiti.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "The Gunslinger";
  src: url("../fonts/the-gunslinger/the-gunslinger.woff") format("woff"), url("../fonts/the-gunslinger/the-gunslinger.ttf") format("truetype"), url("../fonts/the-gunslinger/the-gunslinger.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Aftershock";
  src: url("../fonts/aftershock/aftershock.woff") format("woff"), url("../fonts/aftershock/aftershock.ttf") format("truetype"), url("../fonts/aftershock/aftershock.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Fat Wandals";
  src: url("../fonts/fat-wandals/fat-wandals.woff") format("woff"), url("../fonts/fat-wandals/fat-wandals.ttf") format("truetype"), url("../fonts/fat-wandals/fat-wandals.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  line-height: 1.4em;
  font-family: "Noto Sans JP", sans-serif;
  background: #e6e7e8;
  margin: 0;
}

h1 {
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 5px;
  margin: 0 0 -5px 0;
  color: #fff;
  font-weight: bold;
}

h2 {
  margin: 0;
  font-family: "Jacksilver";
  font-size: 120px;
  line-height: 0.8em;
  position: relative;
  top: 0;
}

h4 {
  font-size: 14px;
  line-height: 22px;
  margin: 0;
  color: #fff;
  font-weight: 600;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border-radius: 10px;
  width: 360px;
  text-align: center;
  background: #fff;
  overflow: hidden;
}
.card__top {
  background: #ce1920;
  border-radius: 10px 10px 0 0;
  padding: 5px 0;
}
.card__middle {
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card__bottom {
  height: 18px;
  background: #ce1920;
  border-radius: 0 0 10px 10px;
}
.card__top, .card__bottom {
  background: #ce1920;
}

.options {
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 40px);
}
.options__left {
  display: flex;
}

.option {
  margin-right: 20px;
  padding: 6px;
  background: #dbddde;
  border-radius: 6px;
}
.option__inner {
  height: 32px;
  display: flex;
  align-items: center;
}
.option .label {
  display: block;
  font-size: 13px;
  color: #323537;
  margin-bottom: 1px;
}
.option .label span {
  font-size: 10px;
  color: blue;
}
.option select,
.option input {
  outline: none;
  border: none;
  padding: 6px;
  border-radius: 4px;
  width: 80px;
  box-sizing: border-box;
  background: #cbced0;
  border: 1px solid #b1b4b7;
  height: 30px;
}
.option input {
  width: 120px;
}
.option select {
  width: 140px;
}
.option h4 {
  font-family: Fat Wandals;
  font-size: 20px;
}
.option h4 a {
  color: #6551b3;
  transition: color 0.2s ease-in-out;
}
.option h4 a:hover {
  color: #33285c;
}

.colors__inner {
  display: flex;
}

.color {
  background: #ce1920;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  border: 1px solid transparent;
  position: relative;
}
.color:before {
  content: "";
  position: absolute;
  top: -4px;
  right: -4px;
  bottom: -4px;
  left: -4px;
  border: 1px solid transparent;
  border-radius: 50%;
}
.color.active:before {
  border-color: #969b9f;
}
.color:hover {
  transform: translateY(-3px);
}
.color#color-red {
  background: #ce1920;
}
.color#color-blue {
  background: #1e61f9;
}
.color#color-green {
  background: #20843e;
}
.color#color-yellow {
  background: #ffaa0e;
}
.color#color-nelson {
  background: linear-gradient(90deg, #f2709c 0%, #ff9472 100%);
}
.color#color-reef {
  background: linear-gradient(90deg, #00d2ff 0%, #3a7bd5 100%);
}
.color#color-neon {
  background: linear-gradient(90deg, #bebdec 0%, #b2eafc 20%, #96f6eb 45%, #f5f5e6 74%, #ffdfec 100%);
}

/*# sourceMappingURL=styles.css.map */
