body {
  line-height: 1.4em;
  font-family: arial;
  background: #eee;
  margin: 0;
}


@font-face {
  font-family: 'A Dripping Marker';
  src: url('../fonts/adrippingmarker.woff2') format('woff2'),
       url('../fonts/adrippingmarker.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Jacksilver';
  src: url('../fonts/jacksilver.woff2') format('woff2'),
       url('../fonts/jacksilver.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Empires';
  src: url('../fonts/empires.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 5px;
  margin: 0 0 -5px 0;
  color: #fff;
  font-weight: bold;
}

h2 {
  margin: 0;
  font-family: 'Empires';
  font-size: 150px;
  position: relative;
  top: 0;
}

h4 {
  font-size: 14px;
  line-height: 22px;
  margin: 0;
  color: #fff;
  font-weight: 600;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border-radius: 10px;
  width: 360px;
  text-align: center;
  background: #fff;
  &__top {
    background: #CE1920;
    border-radius: 10px 10px 0 0;
    padding: 5px 0;
  }
  &__middle {
    min-height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__bottom {
    height: 18px;
    background: #CE1920;
    border-radius: 0 0 10px 10px;
  }
}


.options {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  
}

.option {
  margin-right: 20px;
  label {
    display: block;
    font-size: 13px;
    color: #666;
    margin-bottom: 1px;
  }
  select,
  input {
    outline: none;
    border: none;
    padding: 6px;
    border-radius: 4px;
    width: 80px;
    box-sizing: border-box;
  }
  input {
    height: 29px;
  }
  select {
    width: 140px;
  }
}

.colors {
  > span {
    font-size: 12px;
    color: #666;
  }
  &__inner {
    display: flex;
  }
}

.color {
  background: red;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  margin-right: 5px;
  &.color-red {
    background: red;
  }
}