$bg: #e6e7e8;
$red: #ce1920;
$blue: #1e61f9;
$green: #20843e;
$yellow: #ffaa0e;

body {
  line-height: 1.4em;
  font-family: 'Noto Sans JP', sans-serif;
  background: #e6e7e8;
  margin: 0;
}

@font-face {
  font-family: 'A Dripping Marker';
  src: url('../fonts/adrippingmarker.woff2') format('woff2'),
       url('../fonts/adrippingmarker.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Jacksilver';
  src: url('../fonts/jacksilver.woff2') format('woff2'),
       url('../fonts/jacksilver.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Empires';
  src: url('../fonts/empires.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 5px;
  margin: 0 0 -5px 0;
  color: #fff;
  font-weight: bold;
}

h2 {
  margin: 0;
  font-family: 'Empires';
  font-size: 150px;
  position: relative;
  top: 0;
}

h4 {
  font-size: 14px;
  line-height: 22px;
  margin: 0;
  color: #fff;
  font-weight: 600;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border-radius: 10px;
  width: 360px;
  text-align: center;
  background: #fff;
  &__top {
    background: $red;
    border-radius: 10px 10px 0 0;
    padding: 5px 0;
  }
  &__middle {
    min-height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__bottom {
    height: 18px;
    background: $red;
    border-radius: 0 0 10px 10px;
  }
  &__top,
  &__bottom {
    background: $red;
  }
}


.options {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  
}

.option {
  margin-right: 20px;
  &__inner {
    height: 32px;
    display: flex;
    align-items: center;
  }
  label {
    display: block;
    font-size: 13px;
    color: #666;
    margin-bottom: 1px;
  }
  select,
  input {
    outline: none;
    border: none;
    padding: 6px;
    border-radius: 4px;
    width: 80px;
    box-sizing: border-box;
  }
  input {
    height: 29px;
  }
  select {
    width: 140px;
  }
}

.colors {
  > span {
    font-size: 12px;
    color: #666;
  }
  &__inner {
    display: flex;
  }
}

.color {
  background: $red;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  transition: transform .2s ease-in-out;
  border: 1px solid transparent;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    border: 1px solid transparent;
    border-radius: 50%;
  }
  &.active {
    &:before {
      border-color: darken($bg, 30%);
    }
  }
  &:hover {
    transform: translateY(-3px);
  }
  &#color-red {
    background: $red;
  }
  &#color-blue {
    background: $blue;
  }
  &#color-green {
    background: $green;
  }
  &#color-yellow {
    background: $yellow;
  }
  &#color-nelson {
    background: rgb(242,112,156);
    background: linear-gradient(90deg, rgba(242,112,156,1) 0%, rgba(255,148,114,1) 100%);
  }
  &#color-nelson {
    background: rgb(0,210,255);
    background: linear-gradient(90deg, rgba(0,210,255,1) 0%, rgba(58,123,213,1) 100%);
  }
  &#color-neon {
    background: rgb(190,189,236);
    background: linear-gradient(90deg, rgba(190,189,236,1) 0%, rgba(178,234,252,1) 20%, rgba(150,246,235,1) 45%, rgba(245,245,230,1) 74%, rgba(255,223,236,1) 100%);
  }
}